{% extends 'layout.twig' %}

{% block content %}
  <h1>Index of Texts</h1>
  <ul>
  {% for text in texts %}
    <li>{{ text.author.fullname }} ({{ text.author.sex }}), <i>{{ text.title }}</i> ({{ text.published | join(', ') }})</li>
  {% endfor %}
  </ul>
{% endblock %}
