{% extends 'layout.twig' %}

{% block tabs %}
  {% include 'browse/nav.twig' with { 'page': 'concordance' } %}
{% endblock %}

{% block content %}
  <div class="concordance">
    {% if concordance.total > 0 %}
      <p>{{ concordance.total }} tokens of {{ concordance.words | length }} distinct words</p>
      <table>
        <thead>
          <tr>
            <th>Word</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for word in concordance.words %}
            <tr>
              <td>{{ word.word }}</td>
              <td>{{ word.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Concordance data is not yet available for this text.</p>
    {% endif %}
  </div>
{% endblock %}
