<nav class="breadcrumb">
  <a href="{{ author.url }}">{{ author.id }}</a>
</nav>
<nav class="tabs inverse">
  <a href="{{ author.url }}" class="{% if page == 'author' %}active{% endif %}">Works</a>
  <a href="{{ author.url }}/usage" class="{% if page == 'usage' %}active{% endif %}">Usage</a>
</nav>
