{% extends 'layout.twig' %}

{% block content %}
  <h1>Dictionary</h1>
  <p>There is a total of {{ total }} words in the database. Click on a letter to see a list of words beginning with that letter.</p>
  <table>
    <thead>
      <th>Letter</th>
      <th>Number of Words</th>
    </thead>
    <tbody>
      {% for letter in letters %}
        <tr>
          <td><a href="/dictionary/{{ letter.letter }}">{{ letter.letter | upper }}</a></td>
          <td>{{ letter.words | length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
