*, ::before, ::after {
  border: 0;
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: $black;
  font: $size $sans;
  line-height: 1.5;
  overflow-y: scroll;
}

body {
  max-width: 56rem;
  margin: 0 auto;
  padding: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: .5rem;
}

h1 {
  font-size: 1.375em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

p, blockquote, ul, ol {
  margin-bottom: 1em;
}

blockquote {
  padding: 1em 1.25em;
  & p {
    margin-bottom: .75em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

ol, ul {
  margin-left: 2em;
}

ol {
  list-style: decimal outside;
  & ol {
    list-style-type: lower-roman;
    margin-bottom: .5em;
    & ol {
      list-style-type: lower-latin;
    }
  }
}

ul {
  list-style: disc outside;
  & ul {
    list-style-type: circle;
    margin-bottom: .5em;
    & ul {
      list-style-type: square;
    }
  }
}

li {
  margin-bottom: .25em;
}

hr {
  background-color: $gray;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5em 0;
}

a {
  color: $primary;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

i {
  font-style: italic;
}

em {
  font-style: italic;
  em {
    font-style: normal;
    em {
      font-style: italic;
    }
  }
}

small {
  font-size: .875em;
}

sub, sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
 top: -.5em;
}

mark {
  background: yellow;
}

input[type="text"], input[type="number"], select {
  padding: .25em .5em;
  border: 1px solid $gray;
  display: inline-block;
  height: 2.25em;
  &:hover {
    border-color: $darkgray;
  }
  &:active {
    border-color: $primary;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;
  tr {
    border-bottom: 1px solid $darkgray;
  }
  th, td {
    vertical-align: top;
    text-align: left;
    padding: .25em;
    &.nowrap {
      white-space: nowrap;
    }
  }
  th {
    font-weight: bold;
  }
}
