.form {
  margin-bottom: 1em;
  .input {
    display: flex;
    margin-bottom: .5em;
    label {
      cursor: pointer;
      flex-basis: 6em;
    }
    input, select {
      margin-left: .5em;
    }
    input, .stretch {
      flex-grow: 1;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: .5em;
    }
  }
}
