.form {
  margin-bottom: 1em;
  .group {
    display: flex;
    .label {
      flex-basis: 6em;
      cursor: pointer;
    }
    .inputs {
      flex: 1;
      display: flex;
      margin-bottom: .5em;
      label, input, select {
        &:not(.narrow) {
          flex: 1;
        }
        &:not(:last-child) {
          margin-right: .5em;
        }
      }
      &.checkboxes {
        border: 1px solid $gray;
        label {
          flex: 1;
          white-space: nowrap;
        }
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    button:not(:last-child) {
      margin-right: .5em;
    }
  }
}
