{% extends 'layout.twig' %}

{% block content %}
  <h1>Search Texts</h1>
  <p>In due course, this area of the site will provide facilities for performing sophisticated searches on the texts here available. Please <a href="/about">contact us</a> if you have any requests for functionality that you would like to see included.</p>
{% endblock %}
