<nav class="tabs inverse">
  <a href="/" class="{% if page == 'about' %}active{% endif %}">About</a>
  <a href="/principles" class="{% if page == 'principles' %}active{% endif %}">Editorial Principles</a>
  <a href="/permissions" class="{% if page == 'permissions' %}active{% endif %}">Permissions</a>
  <a href="/contact" class="{% if page == 'contact' %}active{% endif %}">Contact Us</a>
</nav>
