{% extends 'layout.twig' %}

{% block content %}
  <h1>Compare Texts</h1>
  <p>In due course, this area of the site will provide facilities for comparing different texts or authors in various computationally determinable ways. Please <a href="/about/contact">contact us</a> if you have any requests for functionality that you would like to see included.</p>
{% endblock %}
