{% extends 'layout.twig' %}

{% block tabs %}
  {% include 'texts/text/nav.twig' with { 'page': 'tfidf' } %}
{% endblock %}

{% block content %}
  <h2>TF-IDF</h2>
  {% if tfidf is not null %}
    <p><i>Term Frequency-Inverse Document Frequency</i> is a statistical measure used in topic modelling. Informally, it reflects the frequency of a term in a given text, weighted by its <em>infrequency</em> in the other texts in a corpus. Thus extremely common words that occur in all or most texts (e.g. ‘and’, ‘but’, ‘is’) have a small TF-IDF value, while frequent words that are uncommon in the corpus as a whole have a high TF-IDF value.</p>
    <div class="notice">
      <p><strong>Note:</strong> These data are provisional. They are only as good as our corpus of texts, which is only 10% complete, and includes texts that have yet to be fully checked, edited, and indexed. They are provided here for illustrative purposes only.</p>
    </div>
    <table>
      <thead>
        <tr><th>lemma</th><th>TF-IDF</th></tr>
      </thead>
      <tbody>
        {% for term in tfidf %}
          <tr><td>{{ term.lemma }}</td><td>{{ term.tfidf }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>TF-IDF data are not yet available for this text.</p>
  {% endif %}
{% endblock %}
