{% extends 'layout.twig' %}

{% block tabs %}
  {% include 'about/nav.twig' with { 'page': 'permissions' } %}
{% endblock %}

{% block content %}
  <h1>Permissions</h1>
  <p>The texts on this site are all either in the public domain, or are free to use for educational and academic purposes (but not for profit). We will not reproduce any edition whose copyright holder (if any) forbids such use. Permission from the copyright holder may need to be saught for any reproduction of material for profit (e.g. included in a book for sale). Details concerning the provenance and copyright of each edition are available on the pages for the individual texts. If in doubt, please contact us or the stated copyright holder.</p>
{% endblock %}
