<nav class="tabs inverse">
  <a href="/about" class="{% if page == 'about' %}active{% endif %}">General Information</a>
  <a href="/about/principles" class="{% if page == 'principles' %}active{% endif %}">Editorial Principles</a>
  <a href="/about/permissions" class="{% if page == 'permissions' %}active{% endif %}">Permissions</a>
  <a href="/about/contact" class="{% if page == 'contact' %}active{% endif %}">Contact Us</a>
</nav>
